@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

:root{
    --primary-color: #4247A2;
    --color-verdeAgua: #52B095;
    --color-buttonIdade: #113D74;
    --color-saibaMais: #FFFFFF;
    --color-exameRotina: #F8F9FA;
    --color-feminino: #FDEFEF;
    --color-titleFeminino: #F9016F8A;
    --color-title-Segundario: #D038AAC0;
}

header{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/bannerHeader.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    .boxHeader{
      margin-top: 30px;
      width: 80%; 
      display: flex;
      align-items: center;
      height: 10vh;
      border-radius: 50px;
      display: flex;
      justify-content: space-around;
      background: linear-gradient(to right,var(--primary-color) 0%, var(--color-verdeAgua) 100%);

      img{
        width: 30%;
      }

      nav{
        width: 40%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        a{
          color: var(--color-saibaMais);
          font-weight: 600;
        }
      }
  }

  .boxBanner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    max-width: 1200px;
    margin-top: 80px;
    margin-inline: auto;

    .boxTitulo{
      width: 50%;
      h2{
        font-size: 2.7rem;
        font-weight: 800;
        line-height: 1.2;
        background: linear-gradient(to right,var(--primary-color) 0%, var(--color-verdeAgua) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
         color: transparent;
     }

     p{
      font-weight: "Inter", sans-serif;
      width: 80%;
      line-height: 1.3rem;
      font-size: 25px;
      margin-top: 20px;
      text-transform: capitalize;
     }
    }
   
    .button{
        display: flex;
        flex-direction: row;
        margin-top: 35px;
        gap: 15px;
        .agendaIdade{
          background-color: var(--color-buttonIdade);
          padding: 15px 25px;
          border-radius: 8px;
          width: 25vw;
        }
        .saibaMais{
          background-color: var(--color-saibaMais);
          padding: 15px 25px;
          border-radius: 8px;
          width: 15vw;
          border: 1px solid var(--primary-color);
          color: var(--primary-color);
        }
    }
  }

  @media (max-width: 600px){
     background-image: none;
     max-height: 70vh;

    .boxHeader{
      width: 100%;
      nav{
        a{
          font-size: 12px;
        }
      }
    }
      .boxBanner{
        width: 100%;
        
      .boxTitulo{
        width: 25rem;
        text-align: center;
        h2{
          width: 100%;
          font-size: 50px;
        }
        p{
          width: 100%;
          font-size:25px; 
        }
        .button{
          display: flex;
          align-items: center;
          justify-content: center;
          .agendaIdade{
            font-size: 10px;
            width: 40vw;
          }
          .saibaMais{
            font-size: 10px;
            width: 35vw;
          }
        }
      }
    }
  }
}

.importancia{
  padding: 4rem 5rem;
  width: 100%;
  text-align: center;
  background-color: var(--color-exameRotina);
  .contextoExames{
    width: 100%;
    text-align: center;
    h2{
       font-size: 2.7rem;
        font-weight: 800;
        line-height: 1.2;
        background: linear-gradient(to right,var(--primary-color) 0%, var(--color-verdeAgua) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
         color: transparent;
    }

    p{
      font-weight: "Inter", sans-serif;
      width: 100%;
      line-height: 1.5rem;
      font-size: 20px;
      margin-top: 20px;
    }

    .cards{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 3rem;
      margin-top: 3rem;
      .card{
        padding: 20px;
        border-radius: 12px;
        width: 20em;
        height: 12em;
        background-color: var(--color-saibaMais);

        img{
          width: 53px;
        }

        h1{
          font-size: 1.2rem;
          text-align: center;
          font-family: "Inter",sans-serif;
          line-height: 100%;
          margin-top: 20px;
        }

        p{
          font-size: 1.2rem;
          text-align: center;
          font-family: "Inter",sans-serif;
          line-height: 100%;
        }
      }
    }

    @media (max-width: 600px){
      
      h2{
        font-size: 19px;
      }

      p{
        width: 100%;
          font-size: 25px; 
      }
    }
    
  }
}

.prevencaoFeminina{
  padding: 4rem 2rem;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-feminino);
  .cards{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      width: 100%;
      margin-inline: auto;
      max-width: 1200px;

    h2{
      font-size: 2.7rem;
      font-weight: 800;
      line-height: 1.2;
      background: linear-gradient(to right,var(--color-titleFeminino) 0%, var(--color-title-Segundario) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: transparent;
  }
    .card{
       padding: 20px;
        border-radius: 20px;
        width: 15em;
        height: 25em;
        background-color: var(--color-saibaMais);
    }
  }
}